* {
    box-sizing: border-box;
}


header {
    margin-bottom: 10px;
}

.header {
    color: white;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9, 9, 121, 1) 15%, rgba(5, 109, 187, 1) 85%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
}

main {
    display: flex;
}

section {
    border: 2px solid black;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.card {
    margin-left: 20px;
    border: none;
}

.card-header {
    background-color: white;
    border: none;
    font-size: 32px;
    padding-bottom: 0;
}

.card-body {
    padding: 8px;
    margin: 5px 0px;
}

.search-form {
    margin-left: 20px;
}

.form-input {
    border-radius: 5px;
    font-size: 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
}

.submit {
    background: rgb(0,25,36);
background: linear-gradient(90deg, rgba(0,25,36,1) 0%, rgba(20,147,241,1) 0%, rgba(5,109,187,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 0 5px 0;
}

.submit:hover {
    background: rgb(68, 178, 222);
    color: white;
}

hr {
    border-top: solid 2px black;
    opacity: 100%;
    position: relative;
    left: 3%;
    width: 100%;
    margin-top: 2px;
}

.city-search {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3%;
    width: 95%;
    align-items: center;
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
    font-size: 20px;
}

.city-search:hover {
    font-size: x-large;
    box-shadow: 2px 2px rgb(0, 0, 0);
    text-shadow: 2px 2px lightgray;
    background-color: white;
}

/* right column */

.right-column {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 30px 20px;
    width: 75%;
}

.city-container {
    padding: 10px;
    width: 100%;
}

.city-container h1 {
    font-size: 32px;
    font-weight: bold;
}

.city-container h3 {
    margin: 20px 0px;
    font-size: 26px;
}

#humidity {
    margin-bottom: 0;
}

.uv-index-value {
    background-color: green;
    margin-left: 5px;
}

.city-forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
}

#forecast-title {
    border: none;
    width: 100%;
}

.forecasted-day {
    display: flex;
    border: solid 2px black;
}

#card {
    width: 17%;
    margin: 10px 5px 0px 5px;
    justify-content: space-around;
}

.forecast-day-date {
    font-size: 22px;
    font-weight: bold;
    padding-left: 0;
    margin-left: 8px;
}

.forecast-day {
    font-size: 18px;
    padding: 8px 8px 0px 8px;
}

.hidden {
    visibility: hidden;
}